In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('Car Sale.csv')

df

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23901,C_CND_023902,12/31/2023,Martin,Male,13500,C & M Motors Inc,Plymouth,Voyager,Overhead Camshaft,Manual,Red,12000,60504-7114,Passenger,8583598,Pasco
23902,C_CND_023903,12/31/2023,Jimmy,Female,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,DoubleÂ Overhead Camshaft,Auto,Black,16000,06457-3834,Hardtop,7914229,Middletown
23903,C_CND_023904,12/31/2023,Emma,Male,705000,Chrysler of Tri-Cities,BMW,328i,Overhead Camshaft,Manual,Red,21000,99301-3882,Sedan,7659127,Scottsdale
23904,C_CND_023905,12/31/2023,Victoire,Male,13500,Chrysler Plymouth,Chevrolet,Metro,DoubleÂ Overhead Camshaft,Auto,Black,31000,53546-9427,Passenger,6030764,Austin
23905,C_CND_023906,12/31/2023,Donovan,Male,1225000,Pars Auto Sales,Lexus,ES300,DoubleÂ Overhead Camshaft,Auto,Pale White,27500,38701-8047,Hardtop,7020564,Middletown

In [5]:
df.columns

Index(['Car_id', 'Date', 'Customer Name', 'Gender', 'Annual Income',
       'Dealer_Name', 'Company', 'Model', 'Engine', 'Transmission', 'Color',
       'Price ($)', 'Dealer_No ', 'Body Style', 'Phone', 'Dealer_Region'],
      dtype='object')

In [6]:
rename_map = {"Customer Name": "Customer_Name", "Annual Income": "Annual_Income", "Price ($)": "Price", "Dealer_No ": "Dealer_No", "Body Style": "Body_Style"}
df = df.rename(columns=rename_map)

In [7]:
df.columns

Index(['Car_id', 'Date', 'Customer_Name', 'Gender', 'Annual_Income',
       'Dealer_Name', 'Company', 'Model', 'Engine', 'Transmission', 'Color',
       'Price', 'Dealer_No', 'Body_Style', 'Phone', 'Dealer_Region'],
      dtype='object')

In [8]:
# 1. What is the average selling price of cars for each dealer, and how does it compare across different dealers?

def avg_price_by_dealer(df):
    return df.groupby('Dealer_Name')['Price'].mean().sort_values(ascending=False)

print("average selling price of cars for each dealer:")
print(avg_price_by_dealer(df))

average selling price of cars for each dealer:
Dealer_Name
U-Haul CO                                          28769.919006
Classic Chevy                                      28602.014446
Rabun Used Car Sales                               28527.536177
Iceberg Rentals                                    28522.958533
Enterprise Rent A Car                              28312.580800
Scrivener Performance Engineering                  28297.371589
Gartner Buick Hyundai Saab                         28247.621019
Saab-Belle Dodge                                   28190.139888
Capitol KIA                                        28189.703822
Race Car Help                                      28163.372706
Chrysler of Tri-Cities                             28123.091054
Star Enterprises Inc                               28113.055244
Suburban Ford                                      28112.206758
C & M Motors Inc                                   28111.755200
Tri-State Mack Inc                                 28095.562050
Pars Auto Sales                                    28013.060317
Diehl Motor CO Inc                                 27993.929487
Motor Vehicle Branch Office                        27956.739617
Ryder Truck Rental and Leasing                     27914.988782
Progressive Shippers Cooperative Association No    27884.264036
New Castle Ford Lincoln Mercury                    27867.131955
Hatfield Volkswagen                                27853.712242
Nebo Chevrolet                                     27818.889415
Clay Johnson Auto Sales                            27816.027113
McKinney Dodge Chrysler Jeep                       27684.096979
Chrysler Plymouth                                  27555.526400
Pitre Buick-Pontiac-Gmc of Scottsdale              27404.248408
Buddy Storbeck's Diesel Service Inc                27217.261563
Name: Price, dtype: float64

In [9]:
# 2. Which car brand (Company) has the highest variation in prices, and what does this tell us about the pricing trends?

def brand_highest_variation(data):
    var_by_brand = data.groupby("Company")["Price"].var()
    return var_by_brand.idxmax(), var_by_brand.max(), var_by_brand

print("highest variation in prices:")
print(brand_highest_variation(df))

highest variation in prices:
('Lincoln', 386438938.10863817, Company
Acura         6.696225e+07
Audi          1.665195e+08
BMW           2.269717e+08
Buick         2.938561e+08
Cadillac      3.809180e+08
Chevrolet     1.771844e+08
Chrysler      1.341725e+08
Dodge         1.251622e+08
Ford          2.511937e+08
Honda         1.242919e+08
Hyundai       1.215208e+07
Infiniti      1.875895e+08
Jaguar        1.045002e+08
Jeep          8.948847e+07
Lexus         3.187269e+08
Lincoln       3.864389e+08
Mercedes-B    2.472067e+08
Mercury       2.704437e+08
Mitsubishi    1.362202e+08
Nissan        2.629024e+08
Oldsmobile    2.468464e+08
Plymouth      3.635123e+08
Pontiac       2.058928e+08
Porsche       2.768695e+07
Saab          3.862695e+08
Saturn        2.556873e+08
Subaru        1.669463e+08
Toyota        2.361487e+08
Volkswagen    1.569288e+08
Volvo         1.672829e+08
Name: Price, dtype: float64)

In [10]:
# 3. What is the distribution of car prices for each transmission type, and how do the interquartile ranges compare?

def price_distribution_by_transmission(data):
    desc = data.groupby("Transmission")["Price"].describe()
    iqr = desc["75%"] - desc["25%"]
    return desc, iqr

print("distribution of car prices for each transmission type:")
print(price_distribution_by_transmission(df))

distribution of car prices for each transmission type:
(                count          mean           std     min      25%      50%  \
Transmission
Auto          12571.0  28248.525972  13747.070597  1200.0  19000.0  24000.0
Manual        11335.0  27914.710631  15862.871978  1700.0  17000.0  22001.0

                  75%      max
Transmission
Auto          35500.0  75700.0
Manual        34000.0  85800.0  , Transmission
Auto      16500.0
Manual    17000.0
dtype: float64)

In [11]:
# 4. What is the distribution of car prices across different regions?

def price_distribution_by_region(df):
    return df.groupby("Dealer_Region")["Price"].describe()

print("distribution of car prices across different regions:")
print(price_distribution_by_region(df))

distribution of car prices across different regions:
                count          mean           std     min      25%      50%  \
Dealer_Region
Aurora         3130.0  28334.626837  15026.207252  9000.0  18001.0  23000.0
Austin         4135.0  28341.603628  14903.884549  9000.0  18001.0  23801.0
Greenville     3128.0  28180.819054  15101.538328  1200.0  18001.0  22500.0
Janesville     3821.0  27833.350955  14344.995638  4300.0  18001.0  23000.0
Middletown     3128.0  27856.338875  14619.842395  1700.0  18000.0  22750.0
Pasco          3131.0  28119.039923  14659.315941  9000.0  18500.5  23000.0
Scottsdale     3433.0  27954.958928  14902.916820  1450.0  18000.0  22600.0

                   75%      max
Dealer_Region
Aurora         35000.0  85800.0
Austin         35001.0  85601.0
Greenville     34500.0  85200.0
Janesville     34000.0  85400.0
Middletown     34000.0  85300.0
Pasco          34000.0  85600.0
Scottsdale     33500.0  85001.0

In [12]:
# 5. What is the distribution of cars based on body styles?

def distribution_by_body_style(df):
    return df.groupby("Body_Style")["Price"].describe()

print("distribution of cars based on body styles:")
print(distribution_by_body_style(df))

distribution of cars based on body styles:
             count          mean           std      min      25%      50%  \
Body_Style
Hardtop     2971.0  29151.096600  14070.057753  11000.0  19001.0  24000.0
Hatchback   6128.0  27127.035574  14659.696568   1700.0  18000.0  22000.0
Passenger   3945.0  28942.031686  16338.856359   9000.0  18000.0  24000.0
SUV         6374.0  26767.673204  14014.210149   1200.0  18000.0  22350.0
Sedan       4488.0  29832.802807  14795.682187  11000.0  19000.0  25000.0

                75%      max
Body_Style
Hardtop     39000.0  82500.0
Hatchback   31001.0  85600.0
Passenger   37000.0  85800.0
SUV         31000.0  85500.0
Sedan       39500.0  69980.0

In [13]:
# 6. How does the average selling price of cars vary by customer gender and annual income?

def avg_price_by_gender_income(df):
    return df.groupby(["Gender", "Annual_Income"])["Price"].mean()

print("average selling price of cars vary by customer gender and annual income:")
print(avg_price_by_gender_income(df))

average selling price of cars vary by customer gender and annual income:
Gender  Annual_Income
Female  13500            28132.038732
        106000           46001.000000
        121000           20000.000000
        190000           19001.000000
        211000           51000.000000
                             ...
Male    6600000          39000.000000
        6800000          15000.000000
        7650000          21000.000000
        8000000          85000.000000
        11200000         26001.000000
Name: Price, Length: 3442, dtype: float64

In [14]:
# 7. What is the distribution of car prices by region, and how does the number of cars sold vary by region?

def price_distribution_by_region(df):
    return df.groupby("Dealer_Region")["Price"].describe()

print("distribution of car prices by region:")
print(price_distribution_by_region(df))

distribution of car prices by region:
                count          mean           std     min      25%      50%  \
Dealer_Region
Aurora         3130.0  28334.626837  15026.207252  9000.0  18001.0  23000.0
Austin         4135.0  28341.603628  14903.884549  9000.0  18001.0  23801.0
Greenville     3128.0  28180.819054  15101.538328  1200.0  18001.0  22500.0
Janesville     3821.0  27833.350955  14344.995638  4300.0  18001.0  23000.0
Middletown     3128.0  27856.338875  14619.842395  1700.0  18000.0  22750.0
Pasco          3131.0  28119.039923  14659.315941  9000.0  18500.5  23000.0
Scottsdale     3433.0  27954.958928  14902.916820  1450.0  18000.0  22600.0

                   75%      max
Dealer_Region
Aurora         35000.0  85800.0
Austin         35001.0  85601.0
Greenville     34500.0  85200.0
Janesville     34000.0  85400.0
Middletown     34000.0  85300.0
Pasco          34000.0  85600.0
Scottsdale     33500.0  85001.0

In [15]:
# 8. How does the average car price differ between cars with different engine sizes?

def avg_price_by_engine(df):
    return df.groupby("Engine")["Price"].mean()

print("average car price differ between cars with different engine sizes:")
print(avg_price_by_engine(df))

average car price differ between cars with different engine sizes:
Engine
DoubleÂ Overhead Camshaft    28248.525972
Overhead Camshaft            27914.710631
Name: Price, dtype: float64

In [16]:
# 9. How do car prices vary based on the customer’s annual income bracket?

def price_distribution_by_income(df):
    return df.groupby("Annual_Income")["Price"].describe()

print("car prices vary based on the customer’s annual income bracket:")
print(price_distribution_by_income(df))

car prices vary based on the customer’s annual income bracket:
                count          mean           std      min      25%      50%  \
Annual_Income
10080             1.0  22801.000000           NaN  22801.0  22801.0  22801.0
13500          5273.0  27878.981415  14904.756077   1200.0  18000.0  22001.0
24000             1.0  61001.000000           NaN  61001.0  61001.0  61001.0
85000             1.0  43000.000000           NaN  43000.0  43000.0  43000.0
106000            1.0  46001.000000           NaN  46001.0  46001.0  46001.0
...               ...           ...           ...      ...      ...      ...
6600000           1.0  39000.000000           NaN  39000.0  39000.0  39000.0
6800000           1.0  15000.000000           NaN  15000.0  15000.0  15000.0
7650000           1.0  21000.000000           NaN  21000.0  21000.0  21000.0
8000000           1.0  85000.000000           NaN  85000.0  85000.0  85000.0
11200000          1.0  26001.000000           NaN  26001.0  26001.0  26001.0

                   75%      max
Annual_Income
10080          22801.0  22801.0
13500          34000.0  85001.0
24000          61001.0  61001.0
85000          43000.0  43000.0
106000         46001.0  46001.0
...                ...      ...
6600000        39000.0  39000.0
6800000        15000.0  15000.0
7650000        21000.0  21000.0
8000000        85000.0  85000.0
11200000       26001.0  26001.0

[2508 rows x 8 columns]

In [17]:
# 10. What are the top 5 car models with the highest number of sales, and how does their price distribution look?

def top_5_models_by_sales(df):
    return df.groupby("Model")["Price"].count().nlargest(5)

print("top 5 car models with the highest number of sales:")
print(top_5_models_by_sales(df))

top 5 car models with the highest number of sales:
Model
Diamante      418
Prizm         411
Silhouette    411
Passat        391
Ram Pickup    383
Name: Price, dtype: int64

In [18]:
# 11. How does car price vary with engine size across different car colors, and which colors have the highest price variation?

def price_by_engine_and_color(data):
    return data.groupby(["Engine", "Color"])["Price"].agg(["mean", "std", "count"])

print("car price vary with engine size across different car colors:")
print(price_by_engine_and_color(df))

car price vary with engine size across different car colors:
                                              mean           std  count
Engine                    Color
DoubleÂ Overhead Camshaft Black       25766.451103  12418.674126   4172
                          Pale White  30347.987460  14402.413401   5901
                          Red         27434.392314  13499.354247   2498
Overhead Camshaft         Black       31732.967164  17457.405345   3685
                          Pale White  24327.767694  13000.103061   5355
                          Red         30153.405229  17346.642554   2295

In [19]:
# 12.  Is there any seasonal trend in car sales based on the date of sale?

def seasonal_trend(data):
    temp = data.copy()
    temp["Date"] = pd.to_datetime(temp["Date"])
    temp["Month"] = temp["Date"].dt.month
    return temp["Month"].value_counts().sort_index()

print("Months:\n", seasonal_trend(df), "\n")

Months:
 Month
1      790
2      735
3     1535
4     1655
5     1895
6     1715
7     1725
8     1705
9     3305
10    1830
11    3470
12    3546
Name: count, dtype: int64

In [20]:
# 13. How does the car price distribution change when considering different combinations of body style and transmission type?

def price_by_body_and_transmission(data):
    return data.groupby(["Body_Style", "Transmission"])["Price"].describe()

print("sample:\n", price_by_body_and_transmission(df).head(), "\n")

sample:
                           count          mean           std      min      25%  \
Body_Style Transmission
Hardtop    Auto          1408.0  31520.188210  13687.756740  12000.0  21001.0
           Manual        1563.0  27016.943698  14072.501848  11000.0  17575.5
Hatchback  Auto          3458.0  25910.544824  13144.014337   4200.0  18001.0
           Manual        2670.0  28702.550562  16284.049616   1700.0  17000.0
Passenger  Auto          2020.0  28915.835149  13946.481932   9000.0  19000.0

                             50%      75%      max
Body_Style Transmission
Hardtop    Auto          27000.0  43125.0  75501.0
           Manual        22001.0  29000.0  82500.0
Hatchback  Auto          21500.0  31000.0  75700.0
           Manual        23000.0  36001.0  85600.0
Passenger  Auto          25000.0  38000.0  69801.0

In [21]:
# 14. What is the correlation between car price, engine size, and annual income of customers, and how do these features interact?

def corr_price_engine_income(data):
    temp = data.copy()
    temp["Engine_Code"] = temp["Engine"].astype("category").cat.codes
    return temp[["Price", "Annual_Income", "Engine_Code"]].corr()

print("Q14 corr:\n", corr_price_engine_income(df), "\n")

Q14 corr:
                   Price  Annual_Income  Engine_Code
Price          1.000000       0.012065    -0.011271
Annual_Income  0.012065       1.000000    -0.006598
Engine_Code   -0.011271      -0.006598     1.000000

In [22]:
# 15. How does the average car price vary across different car models and engine types?

def avg_price_model_engine(data):
    return data.pivot_table(index="Model", columns="Engine", values="Price", aggfunc="mean")

print("shape:", avg_price_model_engine(df).shape)

shape: (154, 2)